.wrapper {
  @media screen and (min-width: 1024px) {
    display: flex;
    justify-content: center;
    background-color: var(--extra-light-gray);
  }
}

.container {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 16px;
  background-color: var(--extra-light-gray);

  & div:last-of-type {
    border-bottom: none
  }

  @media screen and (min-width: 1024px) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 1216px;
    row-gap: 30px;
    padding: 50px 20px;
  }
}
